@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body[data-theme="light"] {
    --clr-background: 219 219 219; /* #e3e3e3 */
    --clr-text: 36 36 36; /* #242424 */
    --clr-text-alt: 240 240 240; /* #f0f0f0 */
    --clr-primary: 67 163 58; /* #43a33a */
    --clr-border: 202 202 202; /* #d6d6d6 */
  }

  body[data-theme="dark"] {
    --clr-background: 36 36 36; /* #242424 */
    --clr-text: 219 219 219; /* #e3e3e3 */
    --clr-text-alt: 18 18 18; /* #121212 */
    --clr-primary: 143 255 133; /* #8fff85 */
    --clr-border: 62 62 62; /* #3e3e3e */
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(var(--clr-background));
  color: rgb(var(--clr-text));
  font-size: 1.125rem;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.markdown-content h2 {
  /* font-weight: 500; */
  font-size: 1.875rem;
  line-height: 2.25rem;
  /* font-size: 1.5rem;
    line-height: 2rem; */
  margin-top: 2.25rem;
  margin-bottom: 0.5rem;
}

.markdown-content p {
  margin-bottom: 1.125rem;
}

.markdown-content ul {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  column-gap: 2rem;
}

.markdown-content li {
  /* margin-bottom: 0.25rem; */
}

.markdown-content a:hover {
  color: rgb(var(--clr-primary));
}

@media (min-width: 80rem) {
  body {
    font-size: 1.25rem;
  }
}
