@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-background: #242424;
  --clr-foreground: #e3e3e3;
  --clr-text: #dbdbdb;
  --clr-text-dark: #121212;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-foreground);
  color: var(--clr-background);
  font-size: 1.125rem;
}

h1 {
  color: var(--clr-text-dark);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--clr-background);
    color: var(--clr-text);
  }
}

@media (min-width: 80rem) {
  body {
    font-size: 1.25rem;
  }
}
